.info-button {
  font-size: 26px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
}

.info-box {
  margin-top: 55px;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;

}
