/* GameOverMessage.css */
.game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: end; /* Place la boîte en bas au départ */
  z-index: 10;
  overflow: hidden;
}

.game-over-panel {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  text-align: center;
  animation: slideUp 0.6s ease-out forwards;
}

/* Animation qui fait monter la boîte depuis le bas */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
